{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_stylist') }}" method="post" class="add-stylist">
    <dl>
        <dt>Stylist Name:
        <dd><input type="text" size="30" name="name">
        <dt>Password:
        <dd><input type="password" name="password">
        <dd><input type="submit" value="add">
    </dl>
</form>
{% endif %}
<ul class="entries">
    {% for stylist in stylists %}
    <li><a href="{{ url_for('stylist_page', name=stylist.name, stylist=stylists) }}">{{ stylist.name }}</a>
        {% for apt in stylist.appointments %}

        {% if apt.patron_id != -1 %}
        <p>{{ apt.date }} -
            {% for patron in patrons %}
            {% if patron.id == apt.patron_id %}
            {{ patron.name }}
        </p>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
        {% else %}
    <li><em>no stylists created yet</em>
        {% endfor %}
</ul>
{% endblock %}
