{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_stylist') }}" method="post" class="add-stylist">
    <dl>
        <dt>Stylist Name:
        <dd><input type="text" size="30" name="name">
        <dt>Password:
        <dd><input type="password" name="password">
        <dd><input type="submit" value="add">
    </dl>
</form>
{% endif %}
<ul class="entries">
    {% for stylist in stylists %}
    <li><p>{{ stylist.name }}</p>
        {% for apt in stylist.appointments %}

        {% if apt.patron_id != -1 %}
        <p>{{ apt.date }} - booked </p>
        {% endif %}
        {% endfor %}
        {% else %}
    <li><em>Unbelievable. No stylists here so far</em>
        {% endfor %}
</ul>
{% endblock %}
